@{
    ViewData["Title"] = "Description";
}
@model Game

<h1 class="Title-Description"><strong>Opponent:</strong> @Model.OppName</h1>
<img src="@Model.OppImage" alt="Image 1" class="opp-image-description" />
<p class="Subtext-Description"><strong>Description:</strong> @Model.OppDescription</p>
<p class="Subtext-Description"><strong>Stats:</strong> @Model.OppStats</p>

@*@using (Html.BeginForm("ChooseOpp", "Play", FormMethod.Post))
{
    <input type="hidden" name="userName" value="@Model.UserName" />
    <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
    <button type="submit" class="Opp-Button">Submit Name</button>

}*@
<p></p>
@using (Html.BeginForm("RoundOfRPS", "Play", FormMethod.Post))
{
    <label asp-for="@Model.WinPoint" class="control-label">Enter win point:</label>
    <input type="number" class="form-control" asp-for="@Model.WinPoint" />
    <p></p>
    <input type="hidden" name="oppID" value="@Model.OppID" />
    <input type="hidden" name="userName" value="@Model.UserName" />
    <input type="hidden" name="userScore" value="@Model.UserScore" />
    <input type="hidden" name="oppName" value="@Model.OppName" />
    <input type="hidden" name="oppScore" value="@Model.OppScore" />
    <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
    <button type="submit" class="Opp-Button">Continue</button>

}