@model MultipleChoice

<h1 class="Title-UpdateQuestion">Update Question</h1>
<p class="Subtext-UpdateQuestion">
    Update the fields that you want to change and click the "Update Question" button to save your changes.
</p>


@using (Html.BeginForm("UpdateQuestionToDatabase", "MultipleChoice", "Post"))
{
    <input asp-for="QuestionNumber" type="hidden" value="@Model.QuestionNumber" />

    <label asp-for="Question" class="label-text">Question:</label>
    <input type="text" name="Question" class="form-control" value="@Model.Question" />

    <label asp-for="AnswerA" class="label-text">Answer A:</label>
    <input type="text" name="AnswerA" class="form-control" value="@Model.AnswerA" />

    <label asp-for="AnswerB" class="label-text">Answer B:</label>
    <input type="text" name="AnswerB" class="form-control" value="@Model.AnswerB" />

    <label asp-for="AnswerC" class="label-text">Answer C:</label>
    <input type="text" name="AnswerC" class="form-control" value="@Model.AnswerC" />

    <label asp-for="AnswerD" class="label-text">Answer D:</label>
    <input type="text" name="AnswerD" class="form-control" value="@Model.AnswerD" />

    <label asp-for="CorrectAnswer" class="label-text">Correct Answer:</label>
    <input type="text" name="CorrectAnswer" class="form-control" value="@Model.CorrectAnswer" />

    <label asp-for="CorrectAnswerString" class="label-text">Correct Answer String:</label>
    <input type="text" name="CorrectAnswerString" class="form-control" value="@Model.CorrectAnswerString" />

    <label asp-for="Subject" class="label-text">Subject:</label>
    <input type="text" name="Subject" class="form-control" value="@Model.Subject" />
    <p></p>
    <input type="submit" value="Update Question" class="Primary-Button" />

}